# Firebase
.firebase/
firebase-debug.log*
firestore-debug.log*
pubsub-debug.log*
ui-debug.log*

# OS Files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
