rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /photos/{allPaths=**} {
      // Anyone can upload a photo (for gift creation)
      allow write: if true;
      // Anyone can read a photo
      allow read: if true;
    }
  }
}
